* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.box-list {
  display: flex;
  justify-content: center;
}

.box {
  width: 420px;
  padding: 30px;
  border: 5px solid #ccc;
}

.box:first-child {
  margin-right: 20px;
}

.box img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

